<ul class="menu__items">

    {{- $current := .Scope -}}
    {{- $menu := .Menu -}}

    {{- range (index .Scope.Site.Menus .Menu) -}}

        {{- if .HasChildren -}}
            <li class="menu-item{{ if $current.HasMenuCurrent $menu . }} menu-item--active{{ end }}">
                <a href="javascript:;" aria-haspopup="true" aria-expanded="false">
                    {{- .Pre }}{{ .Name }}{{ .Post -}}
                </a>
                {{ partial "menu/sub.html" (dict "Items" .Children "Current" $current "Menu" $menu) }}
            </li>
        {{- else -}}
            <li class="menu-item{{ if $current.IsMenuCurrent $menu . }} menu-item--active{{ end }}">
                <a href="{{ .URL }}"{{ if $current.IsMenuCurrent $menu . }} aria-current="page"{{ end }}>
                    {{- .Pre }}{{ .Name }}{{ .Post -}}
                </a>
            </li>
        {{- end -}}
        
    {{- end -}}

</ul>