<footer class="site-footer" role="contentinfo">
    <div class="site-footer__bottom">
        <div class="container">

            <img
                src="{{ "images/site-brand-invert.png" | absURL }}"
                srcset="{{ "images/site-brand-invert.png" | absURL }} 1x, {{ "images/site-brand-invert-2x.png" | absURL }} 2x"
                alt="{{ .Site.Title }}"
                width="188"
                height="33"
                class="site-footer__logo"
            >

            <p><a href="/terms">Terms &amp; Conditions</a></p>

            <p>{{ (replace .Site.Params.copyright "[year]" (now.Format "2006")) | safeHTML }}</p>

        </div>
    </div>
</footer>