.banner {
    position: relative;
    
    &__overlay {
        font-size: 13px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        flex-direction: column;
        text-shadow: 1px 1px 20px rgba(#000000, .4);
        letter-spacing: 1px;
        padding: 5px;
        text-align: center;
    }

    &__heading, &__description {
        background-color: rgba(#000000, .75);
        box-shadow: 0 5px 5px rgba(#000000, .3);
    }

    &__heading {
        color: inherit;
        font-size: 125%;
        margin-bottom: 10px;
    }

    &__description {
        margin-bottom: 0;
        line-height: 1.2;
    }

    &__description, &__heading {
        padding: 10px 15px;
    }

    &__image {
        width: 100%;
    }

    @media screen and (min-width: 600px) {
        &__overlay {
            font-size: 20px;
            font-weight: bold;
        }
        &__description {
            font-size: 75%;
        }
    }

    @media screen and (min-width: 768px) {
        &__overlay {
            font-size: 26px;
        }
        &__heading {
            padding: 15px 20px;
            margin-bottom: 20px;
            font-size: 140%;
        }
        &__description {
            padding: 10px 15px;
            font-size: 100%;
        }
    }

    @media screen and (min-width: 1200px) {
        &__overlay {
            font-size: 32px;
        }
    }
    
}