.site-footer {
    background-color: $footer-background;
    color: $footer-color;
    padding: 30px 0;
    text-align: center;
    margin-top: auto;

    &__bottom {
        font-size: 70%;
        p {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    a {
        color: inherit;
    }
}