@font-face {
    font-family: 'Nimbus Sans';
    src: url('nimbus-sans-regular.woff2') format('woff2'), url('nimbus-sans-regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Nimbus Sans';
    src: url('nimbus-sans-bold.woff2') format('woff2'), url('nimbus-sans-bold.woff') format('woff');
    font-weight: bold;
}
