{{ define "main" }}
    
    <div class="banner">
        <div class="banner__overlay">
            <div class="container">
                <h2 class="banner__heading">{{ .Params.hero_heading }}</h2>
                <p class="banner__description">{{ .Params.hero_subheading }}</p>
            </div>
        </div>
        <img
            src="{{ .Params.hero_image_1750 | absURL }}"
            srcset="{{ .Params.hero_image_1750 | absURL }} 1750w, {{ .Params.hero_image_1050 | absURL }} 1050w, {{ .Params.hero_image_320 | absURL }} 320w"
            alt
            role="presentation"
            class="banner__image"
        >
    </div>

    <article class="section">

        <div class="container">
            {{ .Content }}
        </div>

    </article>

    <section class="section section--white">
        <div class="container">

            <div class="slider">
                <div class="slider__frame js_frame">
                    <ul class="slider__slides js_slides">
                        <li class="js_slide">
                            <div class="slider__slide-flex">
                                <span><img src="{{ "uploads/feature/featured-1.png" | absURL }}" alt></span>
                                <span><img src="{{ "uploads/feature/featured-2.png" | absURL }}" alt></span>
                                <span><img src="{{ "uploads/feature/featured-5.png" | absURL }}" alt></span>
                                <span><img src="{{ "uploads/feature/featured-6.jpg" | absURL }}" alt></span>
                            </div>
                        </li>
                        <li class="js_slide">
                            <div class="slider__slide-flex">
                                <span><img src="{{ "uploads/feature/featured-9.png" | absURL }}" alt></span>
                                <span><img src="{{ "uploads/feature/featured-10.jpg" | absURL }}" alt></span>
                                <span><img src="{{ "uploads/feature/featured-11.png" | absURL }}" alt></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <span class="js_prev slider__prev">
                    <svg width="50" height="50" viewBox="0 0 501.5 501.5"><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></svg>
                </span>
                <span class="js_next slider__next">
                    <svg width="50" height="50" viewBox="0 0 501.5 501.5"><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></svg>
                </span>
            </div>

        </div>
    </section>

    <section class="section section--grey">
        <div class="container">
            
            <h2 class="section__heading">Get In Touch</h2>
            <p class="section__description">We'd love to hear from you</p>

            {{ partial "contact-form.html" }}

        </div>
    </section>

{{ end }}