{{ define "main" }}
    
    <div class="banner">
        <div class="banner__overlay">
            <div class="container">
                <h2 class="banner__heading">{{ .Params.hero_heading }}</h2>
                <p class="banner__description">{{ .Params.hero_subheading }}</p>
            </div>
        </div>
        <img
            src="uploads/banner-1050.jpg"
            srcset="uploads/banner-1750.jpg 1750w, uploads/banner-1050.jpg 1050w, uploads/banner-438.jpg 438w, uploads/banner-320.jpg 320w"
            alt="Banner"
            class="banner__image"
        >
    </div>

    <article class="section">

        <div class="container">
            {{ .Content }}
        </div>

    </article>

    <section class="section section--grey">
        <div class="container">
            
            <h2 class="section__heading">Get In Touch</h2>
            <p class="section__description">We'd love to hear from you</p>

            {{ partial "contact-form.html" }}

        </div>
    </section>

{{ end }}